# Excluir archivos y carpetas generados por la instalación del paquete
*.egg-info/

# Excluir archivos de configuración sensibles
config.yaml
regions.yaml

# Ignorar archivos .pyc y carpetas __pycache__
*.pyc
__pycache__/